.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.header-logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;
}

.header-navbar a {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 700;
}

.header-navbar a:hover,
.header-navbar a.active {
    color: var(--main-color);
}

.header-menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.header-theme-switch-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header-theme-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.header-theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.header-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.header-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

.header-theme-switch input:checked + .header-slider {
    background-color: #59b2f4;
}

.header-theme-switch input:checked + .header-slider:before {
    transform: translateX(26px);
}

.header-theme-label {
    font-size: 1.5rem;
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    .header-menu-icon {
        display: block;
    }

    .header-navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        display: none;
    }

    .header-navbar.active {
        display: block;
    }

    .header-navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
}