.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--snd-bg-color);
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.sobre-img img {
    width: 35vw;
}

.sobre-heading {
    text-align: center;
    font-size: 4.5rem;
}

.sobre-content h2 {
    text-align: left;
    line-height: 1.2;
}

.sobre-content h3 {
    font-size: 2.6rem;
}

.sobre-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.sobre-content span {
    color: var(--main-color);
}

.sobre-btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
}

.sobre-btn:hover {
    box-shadow: none;
}

@media (max-width: 991px) {
    .sobre {
        padding: 10rem 3% 2rem;
    }
}

@media (max-width: 768px) {
    .sobre {
        flex-direction: column;
    }

    .sobre-img img {
        width: 90vw;
        margin-top: 4rem;
    }
}

@media (max-width: 617px) {
    .sobre-img img {
        width: 100vw;
        margin-top: 4rem;
    }
}